{% extends "base.html" %}

{% block content %}
<div id="titlescreen-container">
    <h1>LOAD GAME</h1>
    <div id="titlescreen--start-menu">
            <p>
                {% if slot_place == 0 %}
                >
                {% endif %}
                {{slotA}}
            </p>
            <p>{% if slot_place == 1 %}
                >
                {% endif %}
                {{slotB}}
            </p>
            <p>
                {% if slot_place == 2 %}
                >
                {% endif %}
                {{slotC}}
            </p>
            <p>{{a_text}}</p>
            <p>B - Cancel</p>
    </div>
</div>
{% endblock %}
{% block linkA %}
{{load_link}}
{% endblock %}

{% block linkB %}
{{worldmap_link}}
{% endblock %}