body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
/* Base template  */
.base--full-page{
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
}
.base--console-frame{
    width: 60%;
    height: 60%;
    border: 2px solid black;
    border-radius: 3px;
}
.base--console-frame-screen{
    height: 80%;
}
.base--console-frame-buttons{
    border: 1px solid black;
    display: flex;
    height: 20%;
}
#titlescreen-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    overflow: auto;
    height: 100%;
    width: 100%;
}
#titlescreen--start-menu {
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

#worldmap {
    height: 100%;
    width: 100%;
    table-layout: fixed;
}

#onscreen-message {
    position: absolute;
}

td{
    border: 1px solid #CC3;
}

#sacha{
    width:20px;
    height:20px;
    overflow:visible;
    position:absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}