{% extends "base.html" %}

{% block content %}
<div style="list-style: none;overflow: auto;height: 100%;width: 100%;display: flex;flex-wrap: wrap;flex-direction: row;">
       <div>
              {% if len_moviedex > 0 %}
              {% for movie_id in moviedex %}
              {% for movie in movie_list %}
                     {% if movie|get_item:'imdbID' == movie_id %}
                     <img src="{{ movie|get_item:'Poster' }}" style="width: 15%;{%if movie_id == selector_pos%}border-width: medium;border-style: solid;border-color:blue;{%endif%}">
                     {% endif %}
                 {% endfor %}
              {% endfor %}
              {% endif %}
              {% if len_moviedex > 0 %}
              <p>A - More information</p>
              {% endif%}
              
              <p>select - Back</p>
       </div>
</div>
{% endblock %}

{% block linkA %}
{% if len_moviedex > 0 %}
{{detail_link}}
{% else%}
#
{% endif %}
{% endblock %}

{% block linkSelect %}
{{worldmap_link}}
{% endblock %}