{% extends "base.html" %}

{# We have a variable pos. ex: x = 3 y = 1 pos = 13 (y * 10 + x) #}

{% block content %}
    <table id="worldmap">
    <div id="onscreen-message">
        <p >Movieballs: {{ balls_number }}</p>
        <p >{{ ballfindstring }}</p>
        <p >{{ moviefindstring }}</p>
    </div>
{% for posy in mapy  %}
    <tr>
        {% for posx in mapx  %}
        <td
            {% if persox == posx and persoy == posy %} style="background-color: blueviolet;"{% endif %}>
        </td>
        {% endfor %}
    </tr>
{% endfor %}
</table>
{% endblock %}


{% block linkA %}
{{battle_link}}
{% endblock %}

{% block linkB %}

{% endblock %}

{% block linkStart %}

{% endblock %}

{% block linkSelect %}

{% endblock %}

{% block linkUp %}

{% endblock %}

{% block linkDown %}

{% endblock %}

{% block linkLeft %}

{% endblock %}

{% block linkRight %}

{% endblock %}