{% extends "base.html" %}

{# We have a variable pos. ex: x = 3 y = 1 pos = 13 (y * 10 + x) #}

{% block content %}
<table id="worldmap">
    <div id="onscreen-message">
        <p >Movieballs: {{ balls_number }}</p>
        <p >{{ ballfindstring }}</p>
        <p >Movieballs: {{ moviefindstring }}</p>
    </div>
{% for posy in mapy  %}
    <tr>
        {% for posx in mapx  %}
        <td>
            {% if persox == posx and persoy == posy %}
            A
            {% endif %}
        </td>
        {% endfor %}
    </tr>
{% endfor %}
</table>
{% endblock %}


{% block linkA %}
{% endblock %}

{% block linkB %}
{{name}}
{% endblock %}

{% block linkStart %}
{{name}}
{% endblock %}

{% block linkSelect %}
{{name}}
{% endblock %}

{% block linkUp %}
{{name}}
{% endblock %}

{% block linkDown %}
{{name}}
{% endblock %}

{% block linkLeft %}
{{name}}
{% endblock %}

{% block linkRight %}
{{name}}
{% endblock %}