{% extends "base.html" %}

{% block content %}
<div id="titlescreen-container">
    <h1>MOVIESMONS</h1>
    <div id="titlescreen--start-menu">
        <p>
            {% if slot_place == 0 %}
            >
            {% endif %}
            {{slotA}}
        </p>
        <p>{% if slot_place == 1 %}
            >
            {% endif %}
            {{slotB}}
        </p>
        <p>
            {% if slot_place == 2 %}
            >
            {% endif %}
            {{slotC}}
        </p>
        <p>A - Save</p>
        <p>B - Cancel</p>
    </div>
</div>
{% endblock %}


{% block linkA %}
{{save_link}}
{% endblock %}

{% block linkB %}
{{worldmap_link}}
{% endblock %}