{% extends "base.html" %}

{% block content %}
<div id="titlescreen-container">
    <h1>MOVIESMONS</h1>
    <div id="titlescreen--start-menu">
        <p>
            {% if slot_place == 0 %}
            >
            {% endif %}
            SLot A Free
        </p>
        <p>{% if slot_place == 1 %}
            >
            {% endif %}
            SLot B 2/15
        </p>
        <p>
            {% if slot_place == 2 %}
            >
            {% endif %}
            SLot C Free
        </p>
    </div>
</div>
{% endblock %}